.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h2, ul, form, table {
  padding: 10px;
}

ul {

  list-style-type: none;
}

li {
  align-content: left;
}

input {
  margin-left: 10px;
}

table {
  border-collapse: separate;
  border-spacing: 0px;
}

td {
  padding: 3px;
  border: solid black 1px;
}


thead tr {
  background: lime;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background: #dddddd;
}

tbody tr:nth-child(odd) {
  background: #f6c6ce;
}